<ion-header>

  <ion-navbar color="lightTaupe">
    <ion-buttons left>
      <button icon-only ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Books for sale</ion-title>
    <ion-buttons end>
      <button icon-only ion-button (click)="goToAccount()">
        <ion-icon name="contact"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <section class="container">
    <ion-list>
      <ion-card class="my-books-cards" *ngFor="let book of booksForSale | async">
        <ion-card-header>Title: {{book.title}}</ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col col-9>
              <ion-card-content>Price: {{book.price}}</ion-card-content>
            </ion-col>
            <ion-col col-2 style="float: right">
              <button style="float: right" ion-button (click)="markAsSold(book)">Sell</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </section>


  <ion-card *ngIf="(booksForSale | async)?.length==0">
    <ion-card-header>You have no Books for sale.</ion-card-header>
  </ion-card>

</ion-content>
