page-my-books {

  .container{
  }

  ion-content {
    background: url("../../assets/imgs/background.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  button{
    background: map-get($colors, lightTaupe) !important;

  }


  .my-books-cards{
    background-color: map-get($colors, cosmicLatte) !important;
  }

}
