page-home {

  .container{
  }

  ion-content {
    //background: url("../../assets/imgs/book-background.jpg") no-repeat center center fixed;
    background-color: map-get($colors, cosmicLatte) !important;

    background-size: cover;
  }

  .tabbar{
    opacity: 1;
  }


  ion-card {
    position: relative;
    text-align: center;
  }

  ion-col{
  }

  .card-title {
    white-space: normal;
    padding-bottom: 6px;
    padding-top: 6px;
  }


  .reset-filter{
    background: map-get($colors, lightTaupe) !important;
  }
}
