<ion-header>
  <ion-navbar color="lightTaupe">
    <ion-buttons left>
      <button icon-only ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      All Books for sale
    </ion-title>
    <ion-buttons end>
      <button icon-only ion-button (click)="addBookPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Select category:</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterByCategory()" interface="popover">
      <ion-option *ngFor="let ct of categories | async" [value]="ct.category">{{ct.category}}</ion-option>
    </ion-select>
  </ion-item>
  <button block ion-button class="reset-filter" (click)="resetFilter()">Reset filter</button>



  <section class="container">
    <ion-list class="book-view">
      <ion-row>
        <ion-col col-6 *ngFor="let book of allBooks | async">
          <ion-card item-left (click)="goToDetails(book)">
            <img [src]="book.imgUrl"/>
            <ion-card-header class="card-title">{{book.title}}</ion-card-header>
            <ion-card-content>{{book.price}},-</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-card *ngIf="(allBooks | async)?.length==0">
      <ion-card-header>No books in this category found.</ion-card-header>
    </ion-card>

  </section>

</ion-content>
