page-add-book {

  .txt-input-field{
    background: map-get($colors, cosmicLatte) !important;
    border-radius: 3px;
  }

  ion-row{
    margin-bottom: 5%;
  }

  ion-input{
    padding: 2px;
  }

  .category-selection{
    background: white;
    width: 30%;
    height: 30px;
    color: white;
  }

  .action-button{
    width: 48%;
    background: map-get($colors, lightTaupe) !important;
  }

  .submit-button{
    background: map-get($colors, lightTaupe) !important;
  }
}
