<ion-header>

  <ion-navbar color="lightTaupe">
    <ion-buttons left>
      <button icon-only ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Messages</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <section class="container">
    <ion-list>
      <ion-card class="messages-cards" *ngFor="let mess of messages | async">
        <ion-card-header (click)="goToConversation(mess)">Book: {{mess.bookTitle}}</ion-card-header>
        <ion-card-content *ngIf="checkSender(mess)">{{mess.receiver}}</ion-card-content>
        <ion-card-content *ngIf="!checkSender(mess)">{{mess.sender}}</ion-card-content>
      </ion-card>
    </ion-list>
  </section>

  <ion-card *ngIf="(messages | async)?.length==0">
    <ion-card-header>You have no messages.</ion-card-header>
  </ion-card>

</ion-content>
