page-messages {

  ion-content {
    background: url(https://image.ibb.co/kkGNOy/background.png) no-repeat center center fixed;
    background-size: cover;
  }


  .messages-cards{
    background-color: map-get($colors, cosmicLatte) !important;
  }
}
