page-account {


  .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin: 0% 10% 0% 0%;
  }

  ion-icon{
    font-size: 5em;
  }

  .user-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .books-title{
    font-size: 2em;
  }

  .books{
    margin-top: 25%;
  }
}
