page-account {

  ion-content {
    background: url("../../assets/imgs/background.jpg") no-repeat center center fixed;
    //background-color: map-get($colors, cosmicLatte) !important;

    background-size: cover;
  }

  .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin: 0% 10% 0% 0%;
  }

  ion-icon{
    font-size: 5em;
  }

  .user-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: map-get($colors, cosmicLatte) !important;

  }

  .books-title{
    font-size: 2em;
  }

  .books{
    margin-top: 25%;
  }

  .book-items{
    background-color: map-get($colors, cosmicLatte) !important;

  }


  .profile-img{
    margin-top: 5%;
    border-radius: 50%;
    width: 100px;
    height: 100px;

  }
}
