<ion-header>

  <ion-navbar color="lightTaupe">
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="container">

  <ion-card class="user-content">
    <ion-icon *ngIf="imgUrl === undefined" name="contact"></ion-icon>
    <!--<ion-icon *ngIf="(imgUrl)?.length==0" name="contact"></ion-icon>-->
    <img *ngIf="(imgUrl)?.length > 0" [src]="imgUrl" class="profile-img"/>

    <ion-card-title>{{email}}</ion-card-title>
    <ion-card-content>{{firstName}} {{lastName}}</ion-card-content>

  </ion-card>

  <section class="books">
    <h2 class="books-title">Sold books</h2>
    <ion-list>
      <ion-item class="book-items" *ngFor="let book of mySoldBooks | async">
        <ion-label>Title: {{book.title}}</ion-label>
        <ion-label col-4>Price: {{book.price}}</ion-label>
      </ion-item>
    </ion-list>
  </section>


</ion-content>
